<div [ngStyle]="{ 'margin-top': '30px' }">
  <!-- New contact form -->
  <h2 [ngStyle]="{ 'margin-left': '20%' }" *ngIf="!editionMode">
    Agregar Gasto
  </h2>
  <form
    class="form-container"
    id="addContactForm"
    *ngIf="!editionMode"
    [ngStyle]="{ 'margin-left': '20%' }"
    (ngSubmit)="
      add_gasto(editableGasto);
      editableGasto.nombre = '';
      editableGasto.categoria = '';
      editableGasto.monto = 0;
      editableGasto.id = undefined
    "
    #newGastoForm="ngForm"
  >
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input
        matInput
        #nombre="ngModel"
        name="Nombre"
        [(ngModel)]="editableGasto.nombre"
        placeholder="Nombre"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Categoria</mat-label>
      <input
        matInput
        #categoria="ngModel"
        name="Categoria"
        [(ngModel)]="editableGasto.categoria"
        placeholder="Categoría"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Monto</mat-label>
      <input
        currencyMask
        placeholder="0"
        matInput
        value=""
        #monto="ngModel"
        name="Monto"
        [(ngModel)]="editableGasto.monto"
        required
      />
    </mat-form-field>

    <button
      matInput
      mat-flat-button
      [ngStyle]="{
        'margin-top': '-18px',
        'margin-left': '10px',
        padding: '28px'
      }"
      color="accent"
      type="submit"
    >
      Agregar
    </button>
  </form>
</div>
